
.peer-icon-angle-small-right:before { content: '\e800'; } /* '' */
.peer-icon-wallet-filled:before { content: '\e801'; } /* '' */
.peer-icon-comment-fill:before { content: '\e802'; } /* '' */
.peer-icon-play-btn:before { content: '\e803'; } /* '' */
.peer-icon-user:before { content: '\e804'; } /* '' */
.peer-icon-eighteen-plus:before { content: '\e805'; } /* '' */
.peer-icon-wallet:before { content: '\e806'; } /* '' */
.peer-icon-setting:before { content: '\e807'; } /* '' */
.peer-icon-eye-open:before { content: '\e808'; } /* '' */
.peer-icon-eye-close:before { content: '\e809'; } /* '' */
.peer-icon-tick-circle:before { content: '\e80a'; } /* '' */
.peer-icon-lock:before { content: '\e80b'; } /* '' */
.peer-icon-envelope:before { content: '\e80c'; } /* '' */
.peer-icon-warning:before { content: '\e80d'; } /* '' */
.peer-icon-referral:before { content: '\e80e'; } /* '' */
.peer-icon-copy-alt:before { content: '\e80f'; } /* '' */
.peer-icon-cross-circle:before { content: '\e810'; } /* '' */
.peer-icon-email-password:before { content: '\e811'; } /* '' */
.peer-icon-refresh:before { content: '\e812'; } /* '' */
.peer-icon-good-tick-circle:before { content: '\e813'; } /* '' */
.peer-icon-exclamation-sign:before { content: '\e814'; } /* '' */
.peer-icon-home:before { content: '\e815'; } /* '' */
.peer-icon-filter:before { content: '\e816'; } /* '' */
.peer-icon-setting-filled:before { content: '\e817'; } /* '' */
.peer-icon-help-filled:before { content: '\e818'; } /* '' */
.peer-icon-help:before { content: '\e819'; } /* '' */
.peer-icon-sort:before { content: '\e81a'; } /* '' */
.peer-icon-collapse:before { content: '\e81b'; } /* '' */
.peer-icon-like:before { content: '\e81c'; } /* '' */
.peer-icon-dislike:before { content: '\e81d'; } /* '' */
.peer-icon-like-fill:before { content: '\e81e'; } /* '' */
.peer-icon-share:before { content: '\e81f'; } /* '' */
.peer-icon-save-fill:before { content: '\e820'; } /* '' */
.peer-icon-text:before { content: '\e821'; } /* '' */
.peer-icon-newpost-filled:before { content: '\e822'; } /* '' */
.peer-icon-play-alt:before { content: '\e823'; } /* '' */
.peer-icon-dislike-fill:before { content: '\e824'; } /* '' */
.peer-icon-comment-alt:before { content: '\e825'; } /* '' */
.peer-icon-comment-dot:before { content: '\e826'; } /* '' */
.peer-icon-audio:before { content: '\e827'; } /* '' */
.peer-icon-newpost:before { content: '\e828'; } /* '' */
.peer-icon-camera:before { content: '\e829'; } /* '' */
.peer-icon-content:before { content: '\e82a'; } /* '' */
.peer-icon-most:before { content: '\e82b'; } /* '' */
.peer-icon-multi-user:before { content: '\e82c'; } /* '' */
.peer-icon-time:before { content: '\e82d'; } /* '' */
.peer-icon-angle-small-down:before { content: '\e82e'; } /* '' */
.peer-icon-angle-small-up:before { content: '\e82f'; } /* '' */
.peer-icon-edit-pencil:before { content: '\e830'; } /* '' */
.peer-icon-plus:before { content: '\e831'; } /* '' */
.peer-icon-cancel:before { content: '\e832'; } /* '' */
.peer-icon-arrow-left-bold:before { content: '\e833'; } /* '' */
.peer-icon-arrow-down-bold:before { content: '\e834'; } /* '' */
.peer-icon-arrow-up-bold:before { content: '\e835'; } /* '' */
.peer-icon-arrow-right-bold:before { content: '\e836'; } /* '' */
.peer-icon-megaphone:before { content: '\e837'; } /* '' */
.peer-icon-megaphone-alt:before { content: '\e838'; } /* '' */
.peer-icon-pinpost:before { content: '\e839'; } /* '' */
.peer-icon-arrow-right:before { content: '\e83a'; } /* '' */
.peer-icon-arrow-left:before { content: '\e83b'; } /* '' */
.peer-icon-arrow-down:before { content: '\e83c'; } /* '' */
.peer-icon-arrow-up:before { content: '\e83d'; } /* '' */
.peer-icon-exit:before { content: '\e83e'; } /* '' */
.peer-icon-refresh-alt:before { content: '\e83f'; } /* '' */
.peer-icon-share-link:before { content: '\e840'; } /* '' */
.peer-icon-analysis:before { content: '\e841'; } /* '' */
.peer-icon-download:before { content: '\e842'; } /* '' */
.peer-icon-add-circle:before { content: '\e843'; } /* '' */
.peer-icon-ad:before { content: '\e844'; } /* '' */
.peer-icon-save-disk:before { content: '\e845'; } /* '' */
.peer-icon-btc:before { content: '\e846'; } /* '' */
.peer-icon-paste:before { content: '\e847'; } /* '' */
.peer-icon-home-alt:before { content: '\e848'; } /* '' */
.peer-icon-flag-fill:before { content: '\e849'; } /* '' */
.peer-icon-flag:before { content: '\e84a'; } /* '' */
.peer-icon-illegal:before { content: '\e84b'; } /* '' */
.peer-icon-three-dots:before { content: '\e84c'; } /* '' */
.peer-icon-expand:before { content: '\e84d'; } /* '' */
.peer-icon-search:before { content: '\e84e'; } /* '' */
.peer-icon-mic:before { content: '\e84f'; } /* '' */
.peer-icon-pause:before { content: '\e850'; } /* '' */
.peer-icon-daily-mint:before { content: '\e851'; } /* '' */
.peer-icon-referral-fill:before { content: '\e852'; } /* '' */
.peer-icon-video-fill:before { content: '\e853'; } /* '' */
.peer-icon-audio-fill:before { content: '\e854'; } /* '' */
.peer-icon-camera-fill:before { content: '\e855'; } /* '' */
.peer-icon-message:before { content: '\e856'; } /* '' */
.peer-icon-delivery-info:before { content: '\e85a'; } /* '' */
.peer-icon-shop:before { content: '\e8af'; } /* '' */
.peer-icon-order-success:before { content: '\e8b1'; } /* '' */
.peer-icon-order-failed:before { content: '\e8b2'; } /* '' */
